$boxes: str-split($category_boxes, "|");

@each $box in $boxes {
  body.category-#{$box} {
    #list-area {
      display: none;
    }
    #create-topic {
      display: none;
    }
  }
}

// style to watch what is inside $boxes
// body {
//   &:after {
//     content: "#{$boxes}" !important;
//     display: block;
//     background: salmon;
//     color: white;
//     position: fixed;
//     left: 0;
//     top: 0;
//     z-index: 99999999;
//   }
// }
